* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }

  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }

/* stile per container full-fullwidth */
.container-fullwidth-primo{
    background-color: #f5f8fa;
}
.container-fullwidth-secondo{
    background-color: #ffffff;
    margin-top: 80px;
}

/*stile container*/
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/*STILE UNICO PER LINK*/
a, i, li{
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
}

/* STILE CONTAINER FIXED */
.fixed{
    width: 1200px;
    height: 80px;
    position: fixed;
    top: 0;
    overflow: hidden;
    line-height: 80px;
    background-color: #f5f8fa;
}
.fixed-box{
    float: left;
}

.fixed-box #lingua{
    border-right: 1px solid #cbd6e2;
    padding: 0 10px;
    color: #33475b;
}

.fixed-box #contatti{
    padding-left: 5px;
    color: #33475b;
}

.fixed-second-box{
    float: right;
}

.fixed-second-box a{
    padding: 10px 15px;
    border-radius: 3px;
    font-size: small
}

.fixed-second-box #login{
    border: 2px solid #ff7a59;
    color: #ff7a59;
    margin-left: 20px;
}
.fixed-second-box #free{
    border: 2px solid #ff7a59;
    background-color: #ff7a59;
    color: #ffffef;
}

/* TILE CONTAINER NAVBAR */

.navbar{
    height: 80px;
    line-height: 80px;
}
.navbar img{
    display: inline-block;
    position: relative;
    transform: translateY(30%);
}
.navbar nav{
    float: right;
    margin-right: 60px;
}
.navbar li{
    display: inline-block;
    margin-left: 50px;
}

.navbar li a{
    color: #33476f;
    font-weight: 600;
}
