* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }

/* stile per container full-fullwidth */
.container-fullwidth-primo{
    background-color: #f5f8fa;
    width: 100vw;
    z-index: 99
}
.container-fullwidth-secondo{
    background-color: #ffffff;
    margin-top: 80px;
}
.container-fullwidth-terzo{
    background-color: #425b76;
}

/*stile container*/
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/*STILE UNICO PER LINK*/
a, i, li{
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
}

/* STILE CONTAINER FIXED */
.fixed{
    width: 1200px;
    height: 80px;
    position: fixed;
    top: 0;
    overflow: hidden;
    line-height: 80px;
    background-color: #f5f8fa;
    z-index: 99;
}
.fixed-box{
    float: left;
}

.fixed-box #lingua{
    border-right: 1px solid #cbd6e2;
    padding: 0 10px;
    color: #33475b;
}

.fixed-box #contatti{
    padding-left: 5px;
    color: #33475b;
}

.fixed-second-box{
    float: right;
}

.fixed-second-box a{
    padding: 10px 15px;
    border-radius: 3px;
    font-size: small
}

.fixed-second-box #login{
    border: 2px solid #ff7a59;
    color: #ff7a59;
    margin-left: 20px;
}
.fixed-second-box #free{
    border: 2px solid #ff7a59;
    background-color: #ff7a59;
    color: #ffffef;
}

/* STILE CONTAINER NAVBAR */
.navbar{
    height: 80px;
    line-height: 80px;
}
.navbar img{
    display: inline-block;
    position: relative;
    transform: translateY(30%);
    left: 6px;
}
.navbar nav{
    float: right;
    margin-right: 60px;
}
.navbar li{
    display: inline-block;
    margin-left: 50px;
}

.navbar li a{
    color: #33476f;
    font-weight: 600;
}

/* STILE STRISCIA BLU */
.striscia{
    height: 90px;
}

#testo-1{
    width: 80%;
    display: inline-block;
    position: relative;
    top: 25%;
    line-height: 1.5;
    color: #f9ffff;
}

.striscia a{
    float: right;
    position: relative;
    top: 30%;
    padding: 10px 20px;
    margin-right: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    color: #33475b;
}

/* STILE SEZIONE JUMBOTRON */
.jumbotron{
    height: 600px;
    display: inline-block;
}

.testo-jumbo{
    width: 40%;
    position: relative;
    float: left;
    transform: translateY(50%);
}

.testo-jumbo h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: #33475b;
}
.testo-jumbo p{
    margin-bottom: 20px;
    line-height: 1.5;
    color: #5c6a79;

}
.jumbo-button a{
    display: inline-block;
    margin-bottom: 20px;
    background-color: #ff7a59;
    border-radius: 3px;
    padding: 30px 30px;
    font-weight: bold;
    color: #ffffff;
}

.jumbo-button p{
    width: 40%;
    font-size: 12px;
    color: #3c4f62;
}

.immagine-jumbo{
    float: left;
    width: 40%;
    position: relative;
    transform: translateY(50%);

}
